@{
  Layout = "_Layout";
}

@model QuiltShop.Models.Project;

<h4>Add a new Project</h4>
@using (Html.BeginForm())
{
  @Html.Label("Name:")
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add new Project" />
}

<p>@Html.ActionLink("Show all Projects", "Index")</p>