@{
  Layout = "_Layout";
}

<h1>Cosmere Quilting</h1>

<p>@Html.ActionLink("See all Instructors", "Index", "Instructors")</p>
<p>@Html.ActionLink("See all Projects", "Index", "Projects")</p>
<p>@Html.ActionLink("See all Students", "Index", "Students")</p>